body {
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 100px
}
h1 {
  color: gold;
  font-size: 60px;
}
p {  
  color: #bdbdbd;
  font-size: 20px
}
